:root {
  --inspo-dark: #71445b;
  --inspo-dark-hover: #513141;
  --inspo-darker: #886e7c;
  --inspo-darker-focus: #55413d;
  --inspo-dim: #d5d5d5;
  --inspo-sep: #8c687b;
  --inspo-text: #f5efe9;
  --accent-main: #71445b;
  --main-light: white;
  --main-dim: #654d4f;
  --main-text: #2f0508;
  --main-sep: #e6e6e6;
  --main-sub: #eeeeee;
  --main-sub-focus: #e1d3d4;
  --main-dark: #22191f;
  --main-dark-light: #31242d;
  --main-dark-light-hover: #2d1f28;
  --main-dark-sub: #303030;
  --main-dark-sub-hover: #1d1d1d;
  --main-dark-sep: #4a3a44;
  --main-dark-text: #c6c5c5;
  --error-text: #d54747;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--inspo-dark);
}

* {
  padding: 0px;
  margin: 0px;
}

body, textarea {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif
}

body, html, #root, .app, .board-outer {
  height: 100%;
}

li {
  list-style-type: none;
}

hr {
  height: 1px;
  background-color: black;
  border: 0px;
}

.ViewportWrapper {
  margin: 30px;
  height: 1280px;
}

.board {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

/* General */

.header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  margin-right: 20px;
}

.header-button {
  padding: 18px 10px 0px 10px;
}

.header-button:hover {
  background-color: var(--main-sub);
}

.bar-buttons {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  box-sizing: border-box;
  height: 42px;
}

.bar-button {
  flex: 1 1 0px;
  text-align: center;
  border-radius: 0px;
  border: 0;
}

.top-header {
  display: flex;
  flex-direction: row;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  height: 55px;
}

.top-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 0px 5px 20px;
}

.top-info-sub {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.top-info-sub > * {
  font-size: 12px;
  color: #654d4f;
  margin-right: 10px;
}

/* Sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--main-dark);
  min-width: 300px;
}

.sidebar-header {
  border-color: var(--main-dark-sep);
  align-items: flex-end;
  justify-content: space-between;
}

.sidebar-header h3 {
  color: white;
  padding: 0px 0px 10px 20px;
}

.sidebar-header button {
  color: var(--main-dark-text);
  padding: 0px 20px 15px 0px;
  font-size: 12px;
}

.logout {
  border: 0;
  border-radius: 0;
  background: none;
  margin-left: 13px;
  cursor: pointer;
}

.sidebar hr {
  background-color: grey;
}

.sidebar-lists {
  flex : 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.sidebar-lists-wrapper {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow-y: scroll;
  scrollbar-color: var(--main-dark-light-hover) transparent;
  scrollbar-width: thin;
}

.sidebar-buttons {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  height: 42px;
  box-sizing: border-box;
}

.top-buttons {
  height: 55px;
}

.top-buttons > * {
  font-size: 18px;
}

.sidebar-button {
  flex: 1 1 0px;
  border: 0;
  text-align: center;
  padding: 10px 20px 10px 20px;
  color: var(--main-dark-text);
  background-color: var(--main-dark-light);
}

.sidebar-button:hover {
  background-color: var(--main-dark-light-hover);
}

/* ImpulseList */

.impulse-list {
  margin-bottom: 15px;
}

.impulse-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.impulse-list-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.impulse-list-header h3 {
  color: var(--main-dark-text);
  font-size: 12px;
  margin: 15px 10px 5px 20px;
}

.impulse-list-header .hr-post {
  flex-grow: 1;
  margin-left: 0;
  margin-right: 0;
}

.impulse-list-header .hr-pre {
  width: 20px;
  margin-left: 0;
  margin-right: 0;
}

.impulse-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0px 8px 20px;
}

.impulse-card:hover {
  background-color: var(--main-dark-light-hover);
}

.impulse-card-pic {
  font-size: 14px;
  color: white;
}

.impulse-card-info {
}

.impulse-card-name {
  color: white;
}

.impulse-card-sparks {
  color: #c6c5c5;
  font-size: 10px;
  padding-left: 20px;
}

/* Center */

.center {
  height: 100%;
  flex-grow: 1;
  display: flex;
  background-color: var(--main-light);
}

/* ActiveImpulse */

.active-impulse {
  height: 100%;
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.active-impulse-mid {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.active-impulse-mid hr {
  background-color: var(--main-sep);
}

.active-impulse-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #fdfbfa;
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: #d8c5c6;
  background-color: var(--main-sub);
}

/* ImpulseHeader */

.impulse-header {
  border-color: var(--main-sep);
}

.impulse-header-buttons {
  color: var(--main-dim);
}

.impulse-header-info h3 {
  color: var(--main-text);
}

/* ActiveThread */

.active-thread {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
}

.active-thread-wrapper {
  overflow-y: scroll;
  flex: 1 1 0;
  scrollbar-color: var(--main-sub) transparent;
  scrollbar-width: thin;
}

/* Message */

.message {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

.message hr {
  margin-left: 0;
  margin-right: 0;
}

.message-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px 20px 10px 20px;
}

.message-spark-pic {
  height: 36px;
  width: 36px;
  background-color: #cc6666;
  border-radius: 18px;
  flex-shrink: 0;
}

.message-body {
  color: #2f0508;
  padding: 10px 0px 10px 10px;
  flex-grow: 1;
}

.message-body > p {
  white-space: pre-wrap;
}

.message-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.message-header > * {
  margin: 0px 6px 0px 0px;
  color: var(--main-text);
}

.message-header h4 {
}

.message-header p {
  font-size: 10px;
}

.message-text {
  color: var(--main-text);
}

.message-inspiration {
  color: var(--inspo-text);;
  background-color: var(--inspo-dark);
  border-radius: 3px;
  padding: 20px 10px 10px 20px;
  margin-top: 5px;
}

.message-more {
  text-align: center;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: var(--main-sep);
  font-size: 10px;
  color: var(--main-dim);
  padding: 5px 0px 5px 0px;
  background-color: var(--main-light);
}

.message-more:hover {
  background-color: var(--main-sub);
}

/* CreateMessage */

.create-message form {
  display: flex;
  flex-direction: row;
}

.create-message form > * {
  color: #2f0508;
  background-color: var(--main-sub);
}

.create-message-text {
  flex-grow: 1;
  border-radius: 0px;
  border: 0;
  outline: none;
  padding: 12px 20px 11px 20px;
  font-size: 16px;
  min-height: 42px;
  max-height: 84px;
  resize: none;
  box-sizing: border-box;
}

.create-message-text:focus {
  background-color: var(--main-sub-focus);
}

.create-message-submit {
  border: 0;
  padding: 10px 20px 12px 20px;
}

.create-message-submit:hover {
  background-color: var(--main-sub-focus);
}

/* Rightbar */

.rightbar {
  height: 100%;
}

/* InspirationList */

.active-impulse-right h4,
.active-impulse-right h3,
.active-impulse-right p {
  color: var(--inspo-text);
}

.inspiration-list {
  height: 100%;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.inspiration-list-header {
  border-color: #d2d2d1;
}

.inspiration-list-info {
  justify-content: center;
}

.inspiration-list-info > h3 {
  color: var(--main-text);
}

.inspiration-list-info p {
  color: var(--main-dim);
}

.inspiration-list-wrapper {
  flex: 1 1 0;
  overflow-y: scroll;
  scrollbar-color: var(--inspo-dark) transparent;
  scrollbar-width: thin;
}

.inspiration-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.inspiration-card {
  background-color: var(--inspo-dark);
  border-radius: 3px;
  margin: 10px 20px 0px 20px;
}

.inspiration-card-highlight:hover {
  background-color: var(--inspo-dark-hover);
}

.inspiration-card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: var(--inspo-sep);
}

.inspiration-card-footer > p {
  font-size: 10px;
}

.inspiration-card-text {
  padding: 20px 20px 10px 20px;
  white-space: pre-wrap;
}

/* InspirationDetails */

.inspiration-details {
  height: 100%;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.inspiration-details-buttons {
  color: var(--main-dim);
}

.inspiration-details-buttons div:hover {
  background-color: var(--main-sub-focus);
}

.inspiration-details > form {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.edit-text-wrapper {
  flex: 1 1 0;
  overflow-y: scroll;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.edit-text {
  flex: 1 1 0;
  background-color: var(--inspo-dark);
  color: var(--inspo-text);
  border-radius: 3px;
  border: 0;
  outline: none;
  resize: none;
  min-height: 100px;
  margin: 10px 20px 0px 20px;
  padding: 20px 20px 10px 20px;
}

.edit-button {
  background: var(--inspo-darker);
  color: var(--inspo-text);
}

.edit-button:hover {
  background: var(--inspo-dark);
}

/* CreateImpulse, JoinImpulse, and CreateSpark */

.new-impulse {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.new-impulse-header {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #d8c5c6;
  height: 50px;
}

.new-impulse-title {
  padding: 20px 0px 5px 20px;
  color: #2f0508;
}

.new-impulse form {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.new-impulse-fill {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.new-impulse-fill label {
  font-size: 20px;
  padding: 50px 0px 5px 20px;
}

.new-impulse * {
  color: #2f0508;
}

.new-impulse-text:focus,
.new-impulse-textarea:focus,
.new-impulse-submit:hover {
  background-color: #d2c4b6;
}

.new-impulse-text,
.new-impulse-textarea,
.new-impulse-submit {
  background-color: var(--main-sub);
}

.new-impulse-text {
  font-size: 16px;
  border-radius: 0px;
  border: 0;
  outline: none;
  padding: 12px 0px 11px 20px;
}

.new-impulse-textarea {
  font-size: 16px;
  border-radius: 0px;
  border: 0;
  outline: none;
  padding: 12px 0px 11px 20px;
  resize: none;
}

.new-impulse-submit {
  border: 0;
  text-align: center;
  padding: 15px 20px 10px 20px;
  font-size: 14px;
}

.new-impulse-extra {
  flex: 1 1 0;
}

/* EmptyThread */

.empty {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.empty * {
  color: #2f0508;
}

.empty h2 {
  margin-top: 50px;
  padding: 0px 20px 10px 40px;
}

.empty p {
  padding: 10px 20px 0px 60px;
}

/* Popup */

.popup {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 20%;
  width: 800px;
  margin-left: -400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: var(--main-dark);
  padding: 20px;
  border-radius: 3px;
}

.popup > h2 {
  color: white;
}

.popup > p {
  color: var(--main-dark-text);
}

.popup > button {
  border: 0;
  border-radius: 3px;
  background-color: var(--main-dark-light);
  color: var(--main-dark-text);
  margin-top: 50px;
  padding: 10px;
}

.popup > button:hover {
  background-color: var(--main-dark-light-hover);
}

.popup-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.popup-container {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  justify-content: center;;
  align-items: center;
  padding: 0px 20px 0px 20px;
}

.popup-container > p {
  color: var(--main-dark-text);
  margin-left: 10px;
}

.popup-link,
.popup-code {
  padding: 15px 10px 10px 10px;
  background-color: var(--main-dark-light);
  border-radius: 3px;
}

/* Login */

.center-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.center-form-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--main-dark);
  padding: 60px 50px 60px 50px;
  border-radius: 3px;
}

.center-form form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.center-form input {
  border: 0;
  padding: 10px;
  width: 300px;
  background-color: var(--main-dark-light);
  color: var(--main-dark-text);
  box-sizing: border-box;
  border-radius: 3px;
}

.center-form input:invalid {
  border-color: blue;
}

.center-form h1, .center-form h2 {
  color: white;
}

.center-form-field {
  margin-top: 10px;
}

.center-form-submit {
  margin-top: 80px;
}

.center-form-submit:hover {
  background-color: var(--main-dark-light-hover);
}

.center-form form > p {
  margin-top: 10px;
  color: var(--error-text);
}

.center-form button {
  align-self: center;
  border: 0;
  padding: 10px;
  margin-top: 50px;
  width: 300px;
  background-color: var(--main-dark-light);
  color: var(--main-dark-text);
  box-sizing: border-box;
  border-radius: 3px;
}

.center-form button:hover {
  background-color: var(--main-dark-light-hover);
}

/* InvalidInvite */

.response {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
}
