:root {
  --inspo-dark: #735a55;
  --inspo-dim: #f0e1d3;
  --main-light: #f5efe9;
  --main-dim: #654d4f;
  --main-text: #2f0508;
  --main-sep: #d8c5c6;
  --main-sub: #e7e0d9;
}

* {
  padding: 0px;
  margin: 0px;
}

body, textarea {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif
}

body, html, #root, .app, .board-outer {
  height: 100%;
}

li {
  list-style-type: none;
}

hr {
  height: 1px;
  background-color: black;
  border: 0px;
}

.ViewportWrapper {
  margin: 30px;
  height: 1280px;
}

.board {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

/* Sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #3a3a3a;
  min-width: 300px;
  padding-top: 20px;
}

.sidebar hr {
  background-color: grey;
}

.sidebar-lists {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.sidebar-buttons {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

.sidebar-button {
  flex: 1 1 0px;
  text-align: center;
  padding: 15px 20px 10px 20px;
  color: #c6c5c5;
  background-color: #303030;
}

.sidebar-button:hover {
  background-color: #1d1d1d;
}

/* ImpulseList */

.impulse-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.impulse-list-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0px 0px 0px;
}

.impulse-list-header h3 {
  color: #c6c5c5;
  margin: 0px 10px 0px 10px;
}

.impulse-list-header .hr-post {
  flex-grow: 1;
  margin-left: 0;
  margin-right: 0;
}

.impulse-list-header .hr-pre {
  width: 20px;
  margin-left: 0;
  margin-right: 0;
}

.impulse-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px 0px 10px 20px;
}

.impulse-card:hover {
  background-color: #303030;
}

.impulse-card-pic {
  height: 50px;
  width: 50px;
  background-color: #cc6666;
  border-radius: 8px;
}

.impulse-card-info {
  margin: 16px 0px 0px 10px;
}

.impulse-card-name {
  color: white;
}

.impulse-card-sparks {
  color: #c6c5c5;
  font-size: 10px;
}

/* Center */

.center {
  height: 100%;
  flex-grow: 1;
  background-color: var(--main-light);
}

/* ActiveImpulse */

.active-impulse {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.active-impulse-mid {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.active-impulse-mid hr {
  background-color: #d8c5c6;
}

.active-impulse-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #fdfbfa;
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: #d8c5c6;
  background-color: var(--inspo-dark);
}

/* ImpulseHeader */

.top-header {
  display: flex;
  flex-direction: row;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #d8c5c6;
  height: 50px;
}

.top-info h3 {
  color: var(--main-text);
}

.top-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 0px 5px 20px;
}

.top-info-sub {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.top-info-sub > * {
  font-size: 12px;
  color: #654d4f;
  margin-right: 10px;
}

.impulse-header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  margin-right: 20px;
}

.impulse-header-button {
  padding: 18px 10px 0px 10px;
  color: #654d4f;
}

/* ActiveThread */

.active-thread {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
}

.active-thread-wrapper {
  overflow-y: scroll;
  flex: 1 1 0;
}

/* Message */

.message {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

.message hr {
  margin-left: 0;
  margin-right: 0;
}

.message-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px 20px 10px 20px;
}

.message-spark-pic {
  height: 36px;
  width: 36px;
  background-color: #cc6666;
  border-radius: 18px;
  flex-shrink: 0;
}

.message-body {
  color: #2f0508;
  padding: 10px 0px 10px 10px;
  flex-grow: 1;
}

.message-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.message-header > * {
  margin: 0px 10px 0px 0px;
  color: var(--main-text);
}

.message-header h4 {
}

.message-header p {
  font-size: 10px;
}

.message-text {
  color: var(--main-text);
}

.message-inspiration {
  color: #f5efe9;
  background-color: var(--inspo-dark);
  border-radius: 5px;
  padding: 20px 10px 10px 20px;
  margin-top: 5px;
}

.message-more {
  text-align: center;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: var(--main-sep);
  font-size: 10px;
  color: var(--main-dim);
  padding: 5px 0px 5px 0px;
  background-color: var(--main-sub);
}

/* CreateMessage */

.create-message form {
  display: flex;
  flex-direction: row;
}

.create-message form > * {
  color: #2f0508;
  background-color: var(--main-sub);
}

.create-message-text {
  flex-grow: 1;
  border-radius: 0px;
  border: 0;
  outline: none;
  padding: 12px 20px 11px 20px;
  font-size: 16px;
  min-height: 42px;
  max-height: 84px;
  resize: none;
  box-sizing: border-box;
}

.create-message-text:focus {
  background-color: #d2c4b6;
}

.create-message-submit {
  border: 0;
  padding: 10px 20px 12px 20px;
}

.create-message-submit:hover {
  background-color: #d2c4b6;
}

/* InspirationList */

.active-impulse-right h4,
.active-impulse-right h3,
.active-impulse-right p {
  color: var(--main-text);
}

.inspiration-list {
  width: 400px;
  /*background-color: #fdfbfa;
   */
}

.inspiration-list-header {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #aa978c;
  height: 50px;
}

.inspiration-list-info > h3 {
  color: var(--main-light);
}

.inspiration-list-info p {
  color: var(--inspo-dim);
}

.inspiration-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.inspiration-card {
  background-color: var(--main-light);
  border-radius: 5px;
  margin: 10px 20px 0px 20px;
}

.inspiration-card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: var(--main-sep);
}

.inspiration-card-footer > p {
  font-size: 10px;
}

.inspiration-card-text {
  padding: 20px 10px 10px 20px;
}

/* InspirationDetails */

.inspiration-details {
  width: 400px;
}

/* CreateImpulse, JoinImpulse, and CreateSpark */

.new-impulse {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.new-impulse-header {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #d8c5c6;
  height: 50px;
}

.new-impulse-title {
  padding: 20px 0px 5px 20px;
  color: #2f0508;
}

.new-impulse form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.new-impulse-fill {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.new-impulse-fill label {
  font-size: 20px;
  padding: 50px 0px 5px 20px;
}

.new-impulse * {
  color: #2f0508;
}

.new-impulse-text:focus,
.new-impulse-textarea:focus,
.new-impulse-submit:hover {
  background-color: #d2c4b6;
}

.new-impulse-text,
.new-impulse-textarea,
.new-impulse-submit {
  background-color: var(--main-sub);
}

.new-impulse-text {
  font-size: 16px;
  border-radius: 0px;
  border: 0;
  outline: none;
  padding: 12px 0px 11px 20px;
}

.new-impulse-textarea {
  font-size: 16px;
  border-radius: 0px;
  border: 0;
  outline: none;
  padding: 12px 0px 11px 20px;
  resize: none;
}

.new-impulse-submit {
  border: 0;
  text-align: center;
  padding: 15px 20px 10px 20px;
  font-size: 14px;
}

/* EmptyThread */

.empty {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.empty * {
  color: #2f0508;
}

.empty h2 {
  margin-top: 50px;
  padding: 0px 20px 10px 40px;
}

.empty p {
  padding: 10px 20px 0px 60px;
}
